<h1 id="projects"></h1>

<h2 style="margin: 60px 0px 10px;">Current Research Projects</h2>

<h3 style="margin:0 10px 0;"><em>Implicit Learning and Language Development</em></h3>

  <h4 style="margin:0 8px 0;">Dissertation Project: The Role of Prior Language Experience in Linguistic Statistical Learning</h4>
  
  <ul style="margin:0 0 5px;">
    <li>Explore functional connectivity between language comprehension networks, attention networks, and the whole-brain during lingusitic SL in neurotypical children</li>
    <li>Assessed how prior linguistic experiences influence SL in autistic children and those in reading intervention programs</li>
  </ul>


  <h4 style="margin:0 8px 0;">Project 2: Statistical Learning and Language Development in Autistic and Neurotypical Children</h4>
  
  <ul style="margin:0 0 5px;">
    <li>Identified behavioral indicators of language impairment in autistic children by analyzing statistical learning in multiple domains and modalities [(Published Paper)](https://link.springer.com/article/10.1007/s10803-023-05902-1)</li>
    <li>Uncovered the neural bases of statistical learning in neurotypical adults and children using functional magnetic resonance imaging (fMRI) techniques [(Conference Poster)](https://bpb-us-w2.wpmucdn.com/sites.northeastern.edu/dist/5/743/files/2022/10/snl_2022_blastfmri_developmental.pdf)</li>
  </ul>
  
  <h4 style="margin:0 8px 0;">Project 3: Speech Learning through Implicit Imitation in School-aged Autistic Children</h4>
  
  <ul style="margin:0 0 5px;">
    <li>Investigated pitch imitation and prosodic variances in autistic children by comparing pitch entrainment to model talkers in sentence repetition tasks [(Published Proceeding)](https://bpb-us-w2.wpmucdn.com/sites.northeastern.edu/dist/5/743/files/2023/08/time_ICPhS23_final_revised.pdf)</li>
    <li>Developed and launched web-based audio recording software for at-home speech data collection</li>
  </ul>
  
  
<h3 style="margin:0 10px 0;"><em>Social Learning and Vocabulary Acquisition</em></h3>

  <h4 style="margin:0 8px 0;">Project 4: Incidental Word Learning in Social Contexts in Autistic Children</h4>
  
  <ul style="margin:0 0 5px;">
    <li>Compared word learning and retention from storylistening in a direct-addressed versus an overhearing social contexts  in school-aged autistic children [(Conference Poster)](https://qrcgcustomers.s3-eu-west-1.amazonaws.com/account24417075/35294901_1.pdf?0.8221150831593449)</li>
    <li>Executed a 3-year production process for naturalistic story stimuli, encompassing script development, filming, editing video and audio materials</li>
    <li>Tailored online experimental platform to capture eye tracking data</li>
  </ul>


  <h4 style="margin:0 8px 0;">Project 5: Quality of Web-based Eye Tracking Experiments in Children</h4>
  
  <ul style="margin:0 0 5px;">
    <li>Partnered with various labs across institutes to analyze web-based eye tracking data, assessing its quality in child developmental research [(Conference Poster)](https://bpb-us-w2.wpmucdn.com/sites.northeastern.edu/dist/5/743/files/2023/03/Ovans_HSP_Poster_2023.pdf)</li>
    <li>Engineered a Python script for eyegaze coding, enhancing efficiency by 50%</li>
  </ul>